* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.im-body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: Black;
}

.im-image-container {
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.im-background--top {
  width: 120%;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url(../images/untitled-7.jpg);
  background-size: cover;
  background-position: bottom center;
}

.im-background--bottom {
  width: 120%;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url(../images/untitled-7.gif);
  background-size: cover;
  opacity: 0.2;
  background-position: bottom center;
  animation: background-move 0.6s infinite;
}

@keyframes background-move {
  0%{
    margin-top: -0.2;
    margin-left: -0.2;
  }
25%{
  margin-top: -0.2%;
  margin-left: 0.2%;
}
50%{
  margin-top: 0.2%;
  margin-left: 0.2%;
}
75%{
  margin-top: 0.2%;
  margin-left: -0.2%;
}
100%{
  margin-top: -0.2%;
  margin-left: -0.2%;
}
}

.im-character:hover {
  cursor: pointer;
}

.im-character--percy {
  width: 14%;
  overflow: hidden;
  position: absolute;
  top:200;
  left:0;
  z-index: 100;
}
.im-character--percy #percy-dead {
  display: none;
}
.im-character--percy #percy {
  display: block;
}
.im-character--percy-dead #percy-dead {
  display: block;
}
.im-character--percy-dead #percy {
  display: none;
}

.im-character--paul {
  width: 25%;
  overflow: hidden;
  position: absolute;
  top: 420;
  left: 140;
  z-index: 100;
}
.im-character--paul-well #paul {
  display: none;
}
.im-character--paul-well #paul-well {
  display: block;
}
.im-character--paul #paul {
  display: block;
}
.im-character--paul #paul-well {
  display: none;
}

.im-character--mrjingels {
  width: 5%;
  overflow: hidden;
  position: absolute;
  left: 100;
  bottom: 4;
  z-index: 100;
}
.im-character--mrjingels-well #mrjingels {
  display: none;
}
.im-character--mrjingels-well #mrjingels-well {
  display: block;
}
.im-character--mrjingels #mrjingels {
  display: block;
}
.im-character--mrjingels #mrjingels-well {
  display: none;
}

.im-character--melinda {
  width: 27%;
  overflow: hidden;
  position: absolute;
  bottom: -20;
  right: 100;
  z-index: 100;
}
.im-character--melinda-well #melinda {
  display: none;
}
.im-character--melinda-well #melinda-well {
  display: block;
}
.im-character--melinda #melinda {
  display: block;
}
.im-character--melinda #melinda-well {
  display: none;
}

@keyframes size-change {
  0% {transform: scale(1);}

  50% {transform: scale(1.5);}

  100% {transform: scale(1);}
}

.im-scale {
  animation: size-change 3s;
}

.im-video-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

@keyframes video-fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.implaying .im-video-container {
  animation: video-fade 13s forwards;
}

.im-video {
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  height: auto;
}
